body {
  background-image: url("suegros.jpg");
}

table {
	width: 80%;
  max-width: 200px;
  border-collapse: collapse;
  border-spacing: 0;
}

img {
	display: block;
}

p {
  text-align: center;
  color: rgb(247, 247, 245);
}

/* Media queries para responsividad */
@media (max-width: 768px) {
  table {
    width: 95%;
  }
}

@media (max-width: 380px) {
  table {
    width: 100%;
  }
}
