body {
  background-image: url("leo.png");
}

table {
	width: 80%;
  max-width: 200px;
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  color: aqua;
}

img {
	display: block;
}

p {
  text-align: center;
  color: rgb(247, 247, 245);
}

/* Media queries para responsividad */
@media (max-width: 768px) {
  table {
    width: 95%;
  }
}

@media (max-width: 320px) {
  table {
    width: 100%;
  }
}

.contenedor-logo {
  width: 80%;
  max-width: 300px;
}

.logo-rebote {
  width: 50px;
  animation: rebote 1s ease-out;
}

@keyframes rebote {
  0%   { transform: translateY(-100px); }
  30%  { transform: translateY(0); }
  50%  { transform: translateY(-30px); }
  70%  { transform: translateY(0); }
  85%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}
